body {
  background-color: #f5d9df;
  font-family: "Nunito", sans-serif;
}

#mainNavBar .navbar-brand {
  color: #ea1c2c;
}

  #mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
  }

  #mainNavBar .nav-link {
    color: white;
  }

  #mainNavBar .nav-link:hover {
    color: #ea1c2c;
  }

  #heading-group span {
    color: #ea1c2c;
  }

  #heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
  }

  @media (max-width: 1200px) {
    #heading-group h1 {
      font-weight: 100;
      font-size: 3rem;
    }
  }

  h2 {
    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
  }

  .blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
  }

  .content {
    margin-bottom: 100px;
    margin-top: 100px;
  }

.navbar.scrolled {
  background-color: rgb(222,192,222);
  transition: background 1000ms;
}